<a href="https://colab.research.google.com/github/Baddepuramkaveri/Python-Lists-Tuples-Dictionary/blob/main/Lists%2CTuples%2CDictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Basic Arithmetic Operations **

In [ ]:
#Basic arithmetic operations
a = int(input("Enter a value : "))
print(a)
b = int(input("Enter b value : "))
print(b)
c = a+b
print("Sum of the values : ",c)
c = a-b
print("Sub of the values : ",c)
c = a*b
print("Product of the values : ",c)
c = a/b
print("Division of the values : ",c)
c = a%b
print("Modulus of the values : ",c)

Enter a value : 10
10
Enter b value : 5
5
Sum of the values :  15
Sub of the values :  5
Product of the values :  50
Division of the values :  2.0
Modulus of the values :  0

** Conditional Statements **

In [ ]:
#if
n = int(input("Enter n value : "))
if(n == 0):
  print("The number is Zero")
print("It is not a zero")

Enter n value : 9
It is not a zero

In [ ]:
#if else
n = int(input("Enter n value : "))
if(n % 2 == 0):
  print("The value",n,"is even")
else:
  print("The value",n,"is odd")

Enter n value : 7
The value 7 is odd

In [ ]:
#if elif else
ch = input("Enter any character : ")
if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A' or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
  print("The character",ch,"is a vowel")
elif((ch >= 'a' and ch <= 'z') or (ch >= 'A' and ch <= 'Z')):
  print("The character",ch,"is a consonent")
else:
  print(" It is not a character")

Enter any character : k
The character k is a consonent

** String Manupulations **

In [ ]:
#concatination
a = "Main Flow"
print(a)
b = "Services and Technologies"
print(b)
c = a+b
print(c)

Main Flow
Services and Technologies
Main FlowServices and Technologies

In [ ]:
#slicing
a = "AICTE"
print(a)
print(a[:5-1])

AICTE
AICT

In [ ]:
#uppercase
a = "MAIN FLOW SERVICES AND TECHNOLOGIES"
print(a)
up_case = a.upper()
print(up_case)

MAIN FLOW SERVICES AND TECHNOLOGIES
MAIN FLOW SERVICES AND TECHNOLOGIES

In [ ]:
#lowercase
a = "MAIN FLOW SERVICES AND TECHNOLOGIES"
print(a)
lo_case = a.lower()
print(lo_case)

MAIN FLOW SERVICES AND TECHNOLOGIES
main flow services and technologies

In [ ]:
#splitting
a = "MAIN FLOW SERVICES AND TECHNOLOGIES"
print(a)
print(a.split())

MAIN FLOW SERVICES AND TECHNOLOGIES
['MAIN', 'FLOW', 'SERVICES', 'AND', 'TECHNOLOGIES']

In [ ]:
#replacing
a = "India is my country"
print(a)
print(a.replace("India","Bharat"))

India is my country
Bharat is my country

** LIST : Collection of elements which are enclosed with [ ] **

List operations

In [ ]:
#creating
l = [2,5,3,8,6,4]
print("Elements in the list are ",l)
#appending
l.append(7)
print("After appending, the list is ",l)
#removing
l.remove(8)
print("After removing 1 element, the list is ",l)
#slicing
l[:6]
print("After slicing, the list is ",l)
#inserting
l.insert(1,10)
print("After inserting, the list is ",l)
#popping
popped_ele = l.pop()
print("Popped element is ",popped_ele)
#sorting
l.sort()
print("Sorted list is ",l)
#reversing
l.reverse()
print("Reversed list is ",l)
#length
print("Length of the list is ",len(l))
#min
print("Min value of the list is",min(l))
#max
print("Max value of the list is ",max(l))
#sum
print("Sum of the list is ",sum(l))

Elements in the list are  [2, 5, 3, 8, 6, 4]
After appending, the list is  [2, 5, 3, 8, 6, 4, 7]
After removing 1 element, the list is  [2, 5, 3, 6, 4, 7]
After slicing, the list is  [2, 5, 3, 6, 4, 7]
After inserting, the list is  [2, 10, 5, 3, 6, 4, 7]
Popped element is  7
Sorted list is  [2, 3, 4, 5, 6, 10]
Reversed list is  [10, 6, 5, 4, 3, 2]
Length of the list is  6
Min value of the list is 2
Max value of the list is  10
Sum of the list is  30

** TUPLE : Tuple is a collection of elements which are enclosed with ( ) **

Tuple operations

In [ ]:
#concatination
t1 = (1,2,3,4,'hii')
t2 = ('me','you',5,6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 'hii', 'me', 'you', 5, 6)

In [ ]:
t = (1,2,3,4,5)
#max
print(max(t))
#min
print(min(t))
#sum
print(sum(t))
#length
print(len(t))

5
1
15
5

** Dictionary : Collection of un orderd elements which are enclosed with { } **

Dictionary operations

In [ ]:
#creating
d = {1 : "hi", 2 : "hello", 3 : "me", 4 : "you"}
print(d)
#adding a key - value
d[5] = "she"
print(d)
#modifying
d[4] = "he"
print(d)
#del
del d[2]
print(d)
#values
print(d.values())
#keys
print(d.keys())
#items
print(d.items())
#copy
a = d.copy()
print(a)
#popping
print(d.pop(1))
print(d)
#clear
d.clear()
print(d)

{1: 'hi', 2: 'hello', 3: 'me', 4: 'you'}
{1: 'hi', 2: 'hello', 3: 'me', 4: 'you', 5: 'she'}
{1: 'hi', 2: 'hello', 3: 'me', 4: 'he', 5: 'she'}
{1: 'hi', 3: 'me', 4: 'he', 5: 'she'}
dict_values(['hi', 'me', 'he', 'she'])
dict_keys([1, 3, 4, 5])
dict_items([(1, 'hi'), (3, 'me'), (4, 'he'), (5, 'she')])
{1: 'hi', 3: 'me', 4: 'he', 5: 'she'}
hi
{3: 'me', 4: 'he', 5: 'she'}
{}